<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Bolsa de Valores', root_path, class:"navbar-brand"  %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% if usuario_signed_in? %>
          <li class="nav-item">
               <%= link_to 'Empresas',  empresas_path, class:"nav-link"  %>
          </li>
          <li class="nav-item">
               <%= link_to 'Agregar Empresa',  new_empresa_path, class:"nav-link"  %>
          </li>
          <li class="nav-item">
               <%= link_to 'Cuenta',  edit_usuario_registration_path, class:"nav-link"  %>
          </li>
          <li class="nav-item">
             <%= link_to 'Salir', destroy_usuario_session_path, method: :delete, data: { confirm: "¿Estás seguro?" },class:"nav-link"  %>
          </li>

        <% else %>
          <li class="nav-item">
             <%= link_to 'Registrarse', new_usuario_registration_path, class:"nav-link"  %>
          </li>
          <li class="nav-item">
           <%= link_to 'Entrar', new_usuario_session_path, class:"nav-link"  %>
          </li>

        <% end %>
          
      </ul>
      <%= form_tag root_path, class:"d-flex", method: 'POST' do  %>
        <%= text_field_tag 'simbolo', nil, placeholder: "Entre símbolo/ticker", size: 30, class:"form-control me-2" %>
        <%= submit_tag 'Buscar', class:"btn btn-outline-success" %>
      <% end %>
      


    </div>
  </div>
</nav>